{% extends 'base.html' %}
{% load thumbnail %}

{% block body %}

    <div class="row justify-content-center">
        {% for post in posts %}
            <div class="col-sm-8 col-md-6 col-lg-4 col-xxl-3 my-3 px-5">
                <div class="card" style="width: 15rem;">
                    {% thumbnail post.image "200x200" crop="center" as im %}
                        <img src="{{ im.url }}" class="card-img-top" alt="...">
                    {% endthumbnail %}
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ post }}</h5>
                        <a href="{% url 'feed:detail' post.id%}" class="btn btn-lg btn-warning">View picture</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-sm-6 col-xl-4 col-xxl-3 my-5 px-5">
                <div class="card" style="width: 24rem;">
                        <img src="media\image.png" class="card-img-top my-3 p-3" alt="Add an image">
                    <div class="card-body text-center">
                        <h5 class="card-title">Upload your image at Image Sharer</h5>
                        <a href="{% url 'feed:post' %}" class="btn btn-lg btn-warning">Click to Upload</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock body %}